.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.checkboxLabel input {
  cursor: pointer;
}
