.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 74px;
  flex-wrap: wrap;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.addButton {
  width: 140px;
  height: 48px;
  background-color: #6a0bff;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
}

.addButton:hover {
  background-color: #5122c3;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .left,
  .right {
    width: 100%;
    justify-content: space-between;
  }

  .right {
    justify-content: flex-end;
  }
}
