.questionItem {
  margin-bottom: 16px;
}

.questionTitle {
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.2s ease;
}

.questionTitle:hover {
  color: #a29bfe;
}

.shortAnswer {
  margin-left: 16px;
  padding: 8px 16px;
  background-color: #333333;
  border-left: 4px solid #6c5ce7;
  border-radius: 8px;
  color: #f1f1f1;
}

.readMore {
  display: inline-block;
  margin-left: 16px;
  margin-top: 8px;
  font-size: 14.4px;
  color: #a29bfe;
  text-decoration: none;
  transition: color 0.2s;
}

.readMore:hover {
  color: #dfe6e9;
  text-decoration: underline;
}

.pagination {
  margin-top: 32px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.pageButton {
  background-color: transparent;
  border: 1px solid #a29bfe;
  padding: 4.8px 12.8px;
  border-radius: 6px;
  color: #a29bfe;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pageButton:hover:not(:disabled) {
  background-color: #2d2d2d;
}

.pageButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.active {
  background-color: #a29bfe;
  color: #fff;
  font-weight: bold;
}

.searchForm {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  justify-content: center;
}

.searchInput {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #a29bfe;
  background-color: #1e1e1e;
  color: #fff;
  width: 300px;
}

.searchButton {
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #a29bfe;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #8c7ae6;
}

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  justify-content: center;
}

.select {
  padding: 6.4px 12.8px;
  border-radius: 6px;
  background-color: #1e1e1e;
  border: 1px solid #a29bfe;
  color: #fff;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 4.8px;
  margin-right: 16px;
  color: #fff;
  cursor: pointer;
}

.checkboxLabel input {
  cursor: pointer;
}
